# Copyright (c) 2021, Legrand North America, LLC.
# SPDX-License-Identifier: Apache-2.0

config GPIO_WRAPPER
	bool "GPIO wrapper"
	default n
	select GPIO
	help
	  This is the tiny library for button with long press support.
