# Copyright (c) 2021 Legrand North America, LLC.
# SPDX-License-Identifier: Apache-2.0

menu "Libraries"

rsource "ble/Kconfig"
rsource "uart/Kconfig"
rsource "adc/Kconfig"
rsource "gpio/Kconfig"
rsource "pwm/Kconfig"
rsource "sdcard/Kconfig"
rsource "i2c/Kconfig"

endmenu
