# SPDX-License-Identifier: Apache-2.0
menuconfig ANALOG_WRAPPER
    bool "Analog battery measurement library"
    default n
    select ADC
    help
      Enable a tiny ADC battery measurement helper.

if ANALOG_WRAPPER

config ANALOG_WRAPPER_LOG_LEVEL
    int "Log level"
    default 3
    range 0 4
    help
      0: None, 1: Err, 2: Warn, 3: Inf, 4: Debug

endif # ANALOG_WRAPPER