# Copyright (c) 2021, Legrand North America, LLC.
# SPDX-License-Identifier: Apache-2.0

config PWM_WRAPPER
	bool "PWM wrapper"
	default n
	select PWM
	help
	  This is the tiny library for PWM to control RGB LED.
